.button{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.ul{
    marign: 0; 
    padding: 0; 

}

.header{
    background: #424242;
    display: flex;
    align-items: center;
    justify-content: center }

    div.container6 p {
    margin: 0 }

.search{
    position: fixed;
    top: 0
}

.pageBackground {
      background-color: rgb(244,227,183)
   
       
      }